.header_container{
    width: 100%;
    height: 50px;
    top: 0;

    position: sticky;
    display: flex;
    flex-direction: row;

    background-color: rgb(50, 50, 50);
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 99999;
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 65px;

    color: white;
}

.language_selector_container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.language_selector{
    height: 50%;
    width: 50px;
}

.router_link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    
}

.router_link:hover{
    color: rgb(0, 151, 211);
}

@media (max-width: 800px) {
    .nav{
        gap: 25px;
    }
}